@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Avenida Francisco Boaventura de Lima, 185<br />
    Remédios, CEP 06298-200<br />
    <abbr title="Phone">P:</abbr>
    192.162.01
</address>

<address>
    <strong>GitHub:</strong> <a href="github.com/yurimatosrodrigues">GitHub</a><br />
    <strong>Linkedin:</strong> <a href="linkedin.com">Linkedin</a>
</address>
